.landing{
    background-image: url(./images/pizzabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
    height: 800px;

}
.text{
    color: orange;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}